@font-face {
    font-family: "Krungthep";
    src: url('./assets/fonts/krungthep.ttf');
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --animation-time: 4s;
    --animation-delay: 300ms;
    --orange: #ff3600;
    --orange-darker: #cc2b00;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--orange-darker);
}
.tippy-box[data-theme~='azaphrex'] {
    background-color: var(--orange);
    color: black;
}
.tippy-box[data-theme~='azaphrex'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--orange);
  }


body{
    background-color: black;
    box-sizing: border-box;
    font-family: "Krungthep";
    color: white;
}

strong{
    color: var(--orange);
}

.background{
    position: absolute;
    top: 0px; left: 50%;
    height: 750px;
    transform: translate(-50%, 0);
    z-index: -1;
}

.hero{
    position: relative;
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.hero > .artists{
    width: 700px;
}
.hero > .artists-long, .artists-long-black, .artists-long-particles{
    display: none;
}

.hero > .title, .effect{
    position: absolute;
    top: 65%; left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.hero > .hero-sub {
    position: absolute;
    bottom: 30px; left: 50%;
    transform: translate(-50%, 0);
    color: var(--orange);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
}

.hero > .title{
    fill: transparent;
    stroke: var(--orange);
    stroke-width: 2;
    stroke-dasharray: 1250;
    stroke-dashoffset: 1250;
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, 1));
    animation: textAnimation var(--animation-time) ease-out forwards var(--animation-delay);
    width: 400px;
    z-index: 9;
}

.hero > .effect {
    height: 279px;
    opacity: 0;
    animation: effectAnimation var(--animation-time) ease-out forwards var(--animation-delay);
    z-index: 10;

}

.about-container, .artists-container, .banner-ytb-container, .cards-container, .contact-container, .credits-container, .mailinglist-container{
    max-width: 680px;
    margin: 100px auto;
    padding: 0px 20px;
}
.about-container{
    margin-top: 10px;
}
.cards-container{
    margin-bottom: 10px;
}
.about-container > p{
    text-align: justify;
    word-break: normal;
}

.banner-ytb-container{
    position: relative;
    margin: 80px auto;
}
.banner-ytb-container > img {
    width: 100%;
}

.banner-ytb-container > .banner-ytb-single {
    position: absolute;
    top: 50%; left: 47.3%;
    translate: -50% -50%;
    height: 100%;
    width: auto;
    box-sizing: border-box;
    /* opacity: 0.7;
    filter: brightness(100);
    z-index: 10; */
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #000);
}

.form-container{
    max-width: 680px;
    margin: 0px auto;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#response-message{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px 0px;
}

.form-container > .form-img-container{
    width: 100%;
    max-width: 450px;
    margin-bottom: 40px;
}

.form-container > .form-img-container > img{
    width: 100%;
    height: auto;
}

.form-container > .form-title {
    text-align: center;
    font-size: 2rem;
    color: var(--orange);
    margin-bottom: 20px;
}

.form-container > .form-subtitle {
    text-align: center;
    font-size: 1rem;
    color: var(--orange);
    margin-bottom: 20px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 320px;
    margin: 0px auto;
    max-height: 300px;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}
.form-container form[data-sent="true"] {
    max-height: 0px;
}

.form-container form > input {
    width: 100%;
    background: var(--orange);
    padding: 8px;
    border: 4px var(--orange) solid;
    transition: border 300ms ease-in-out;
    font-family: "Krungthep";
    color: black;
    box-sizing: border-box;
    outline: none;
    border-radius: 0;
}
.form-container form > input::placeholder{
    color: black;
    opacity: 50%;
}
.form-container form > input:focus{
    border: 4px var(--orange-darker) solid;
}
.form-container form > button{
    background: var(--orange);
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    transition: background 300ms ease-in-out;
    font-family: "Krungthep";
    color: black;
    border-radius: 0;
    width: 50%;
}
.form-container form > button:hover{
    background: var(--orange-darker);
}
.form-container form > button:disabled{
    background: var(--orange-darker);
    cursor: not-allowed;
}

.artists-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

.artist{
    /* position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px; */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.artist:nth-of-type(2){
    /* grid-template-columns: 2fr 1fr; */
    flex-direction: row-reverse;
}

.artist-img-links{
    position: relative;
}

.artist-img-links > .artist-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    width: 100%;
    position: absolute;
    bottom: 0; left: 0;
}
.artist-img-links > .artist-links > a > img{
    width: 30px;
}

.artist-name{
    color: var(--orange);
    font-size: 2rem;
}

.artist-name-desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.and-reverse{
    align-items: flex-end;
}

.artist-desc{
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.artist-img {
    height: 170px;
    mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
}

.soundcloud-container > p{
    color: var(--orange);
    margin-bottom: 10px;
}
.youtube-video-container{
    position: relative;
    overflow: hidden;
    max-width: 680px;
    margin: 0px auto;
    padding: 100px 20px;
}

.ytb-title{
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 2rem;
    color: var(--orange);
    margin: 20px;
}

.youtube-video-container > .background{
    position: absolute;
    top: 0px; left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, 0);
    z-index: -1;
    opacity: 0.5;
    mask-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,0) 100%);
    mask-size: cover;
    mask-position: center center;
}

.youtube-video-container > iframe {
    height: auto;
    aspect-ratio: 16/9.047;
    /* border: transparent 3px solid; */
    mask-image: url(./assets/svg/logo.svg);
    mask-size: 78%;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-mode: alpha;
    transition: mask-size 300ms ease-in-out, mask-position 100ms ease-in-out 200ms;
    box-sizing: border-box;

}

.youtube-video-container > iframe:hover{
    /* border: var(--orange) 3px solid; */
    mask-position: 50% 43.6%;
    mask-size: 3800%;
    transition: mask-size 600ms ease-in-out, mask-position 100ms ease-in-out;
}

.youtube-video-container > iframe.iframe-visible{
    /* border: var(--orange) 3px solid; */
    mask-position: 50% 43.6%;
    mask-size: 3800%;
    transition: mask-size 600ms ease-in-out, mask-position 100ms ease-in-out;
}

.youtube-video-container > iframe.nomask {
    mask-image: none;
}

.ytb-mask-control{
    margin-top: 10px;
    font-size: 0.7rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 300ms ease-in-out;
    user-select: none;
}

.ytb-mask-control:hover{
    opacity: 1;
}

.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.cards-container > .card {
    width: 100%;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.contact-container a, .credits-container a{
    padding: 15px;
    margin: -15px;
    color: var(--orange);
    -webkit-text-decoration: underline transparent 2px;
    text-decoration: underline transparent 2px;
    text-underline-offset: -3px;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, letter-spacing 300ms ease-in-out, border-bottom 300ms ease-in-out, text-decoration 300ms ease-in-out, text-underline-offset 300ms ease-in-out, -webkit-text-decoration 300ms ease-in-out;
}
.contact-container a:hover, .credits-container a:hover{
    opacity: 1;
    -webkit-text-decoration: underline var(--orange) 2px;
    text-decoration: underline var(--orange) 2px;
    text-underline-offset: 3px;
}
.contact-tel-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.credits-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0.5;
    transition: opacity 300ms ease-in-out;
}

.credits-container:hover{
    opacity: 1;
}
.credits-container > p{
    font-size: 0.7rem;
}

.newsletter-title{
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 2rem;
    color: var(--orange);
    margin: 20px;
}
#mce-EMAIL{
    width: 100%;
    background: var(--orange);
    padding: 8px;
    border: 4px var(--orange) solid;
    transition: border 300ms ease-in-out;
    font-family: "Krungthep";
    color: black;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 0;
}
#mce-EMAIL::placeholder{
    color: black;
    opacity: 50%;
}
#mce-EMAIL:focus{
    border: 4px var(--orange-darker) solid;
}

#mc-embedded-subscribe{
    background: var(--orange);
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    transition: background 300ms ease-in-out;
    font-family: "Krungthep";
    color: black;
    border-radius: 0;
}
#mc-embedded-subscribe:hover{
    background: var(--orange-darker);
}

@media screen and (max-width: 650px) {
    .artists-container{
        grid-template-rows: 2fr 0.5fr 2fr;
    }
    .artist{
        flex-direction: column;
    }
    .artist:nth-of-type(2){
        flex-direction: column;
    }
    .artist-img{
        display: block;
        position: relative;
        z-index: -1;
        width: 100%;
        height: auto;
    }
    .artist-img-links > .artist-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        width: 100%;
        position: absolute;
        bottom: 90px; left: 0;
    }
    .artist-img-links > .artist-links.al-reverse {
        justify-content: flex-end;
        align-items: flex-end;
        left: unset;
        right: 0px;
    }
    
    .artist-img-links > .artist-links > a > img{
        width: 30px;
    }
    .artist-name-desc{
        margin-top: -100px;
    }
    .youtube-video-container{
        padding: 0px 20px;
    }

    .youtube-video-container > iframe {
        border: var(--orange) 3px solid;
        mask-image: unset;
        box-sizing: border-box;
    }
    
    .youtube-video-container > iframe:hover{
        border: var(--orange) 3px solid;
        mask-size: 127%;
    }
    .ytb-mask-control{
        display: none;
    }
}

@media screen and (max-width: 570px) {
    .hero{
        padding-top: unset;
        height: 100vh;
        height: 100dvh;
    }
    .hero > .artists{
        display: none;
    }
    .hero > .artists-long{
        display: block;
        width: 130%;
        mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    }
    .hero > .artists-long-black{
        display: block;
        position: absolute;
        width: 130%;
        filter: brightness(0);
    }
    .hero > .artists-long-particles{
        display: block;
        position: absolute;
        width: 130%;
        opacity: 0.5;
    }
    .hero > .title, .effect{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    .hero > .title{
        width: 90%;
    }
    .hero > .effect{
        height: auto;
        width: 170%;
    }
    .banner-ytb-container{
        display: none;
    }
    .cards-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
    }
    
}

@keyframes textAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1.5);
        stroke-dashoffset: 1250;
    }
    30% {
        fill: transparent;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        fill: var(--orange);
        stroke-dashoffset: 0;
    }
}

@keyframes effectAnimation {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes apparition {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        filter: brightness(1);
    }
    25% {
        filter: brightness(2);
    }
    50% {
        filter: brightness(0.8);
    }
    75% {
        filter: brightness(2.5);
    }
    100% {
        filter: brightness(1);
    }
}

@keyframes stab {
    0% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
    10%{
        transform: scale(1.3) rotate(30deg);
        filter: brightness(1);
    }
    15%{
        transform: scale(1.6) rotate(28deg);
        filter: brightness(1.2);
    }
    20%{
        transform: scale(1.8) rotate(32deg);
        filter: brightness(1.4);
    }
    25%{
        transform: scale(1.8) rotate(26deg);
        filter: brightness(0.7);
    }
    30%{
        transform: scale(1.6) rotate(24deg);
        filter: brightness(1.2);
    }
    35%{
        transform: scale(1.6) rotate(10deg);
        filter: brightness(1.2);
    }
    40%{
        transform: scale(1.6) rotate(-10deg);
        filter: brightness(1);
    }
    99%{
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(0deg);
        filter: brightness(1);
        opacity: 0;
    }
    
}